//Colors:
$primary-color: #3f6ce9;
$secondary-color: #556fb5;
$accent-color: #ffbb64;
$background-color: #fbf9f1;
$text-color: #252933;
$text-color-under-bg: #fbf9f1;
$link-color: #e5e1da;

//Bubbles
$check: #6bcb77;
$danger: #ff6b6b;
$carefull: #ffd93d;
$info: #4d96ff;

// Typography
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
$font-family: "Rubik", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

// Spacing
$spacing-unit: 8px;
$padding-base: $spacing-unit;
$margin-base: $spacing-unit;

// Borders
$border-radius: 4px;
$border-width: 1px;
$border-color: #ccc;

// Shadows
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
